nav{
  min-height: 15vh;
  background-color: rgb(1, 1, 41);
  display: flex;
  align-items: center;
}


.nav-topings-Name{
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.nav-section {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
}

.nav-mainName{
  width: 75%;
}

.nav-cookbook{
  text-decoration: none;

}

.nav-cookbook h1{
  font-size: 4.5rem;
  color: white;
}

.nav-recipe,
.nav-my-basket {
  text-decoration: none;
}

.nav-recipe h3 {
  font-size: 3rem;
  color: white;
}

.nav-my-basket{
  font-size: 3rem;
  color: white;
}

