*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

button{
  font-size: 1.7rem;
  padding: 0.5rem 0.8rem;
}

/*buttons */
.button-green{
  font-size: 1.7rem;
  background-color: rgb(40, 167, 69);
  color: white;
  border-radius: 0.4rem;
  border: none;
}

.button-red{
  background-color: rgb(167, 40, 40);
  color: white;
  border-radius: 2rem;
  border: none;
}

.button-green:hover{
  background-color: rgb(18, 84, 33);
}

.button-red:hover{
  background-color: rgb(94, 21, 21);
}

.button-green:active{
  background-color: rgb(18, 84, 33);
  font-size: 2rem;
}

.button-red:active{
  background-color: rgb(94, 21, 21);
  font-size: 2rem;
}
