.BasketCard{
    margin: 1.5rem 0.5rem;
    border: black;
    background-color: rgba(4, 4, 128, 0.123);
    font-size: 3rem;
    width: 18rem;
    height: 24ex;
    border-radius: 10px;
    padding: 1%;
    transition: transform 0.3s;
}

.BasketCard:hover {
    transform: scale(1.05);
}

.Basket-listOfRecipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Basket-listOfRecipes, .basket-ingredients, .basket-shopping-list-bottom {
    margin: auto;
    width: 60%;
}

.basket-shopping-list-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    padding-left: 2%;
}

.BasketCard .BasketCardRecipe {
    height: 76%;
    margin-bottom: 0;
}
.BasketCard .BasketCardInformation {
    height: 20%;
    text-align: center;
}

.BasketCard Link{
    width: 65%;
}

.BasketCard img {
    border-radius: 100%;
    border: dashed black;
    border-width: 0.2rem;
    width: 100%;
    height: 60%;
    object-fit: fill;
    filter: drop-shadow(0 0 3px black);
}

.BasketCard h3 {
    font-size: 1.8rem;
    text-align: center;
    color: rgb(1, 1, 41);
}

.cardIngredients {
    font-size: calc(45%);
    vertical-align: middle;
    color: #424242;
}
.cardIngredientsHint {
    font-size: large;
    visibility: hidden;
    width: 90%;
    left: 50%;
    margin-left: -45%;
    background-color: rgb(1, 1, 41);
    color: #e1e1e1;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
}

.cardIngredients:hover .cardIngredientsHint {
    visibility: visible;
}

.BasketCard .BasketCardServings {
    width: 100%;
    text-align: center;
}

.BasketCard input {
    width: 40%;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.BasketCard .cardServingLabelText {
    font-size: calc(60%);
    width: 50%;
    vertical-align: middle;
}

.BasketCard .BasketCardOtherInfo {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.BasketCard .BasketCardOtherInfo span {
    font-size: 1rem;
}

.BasketCard .BasketCardOtherInfo span b {
    font-size: 1.8rem;
}

.BasketCardRemoveButton {
    float: right;
    font-size: 1.5rem;
    background-color: rgba(181, 1, 1, 0.3);
    border-radius: 50%;
    margin: auto;
    margin-right: 0;
}

.BasketCardRemoveButton:hover {
    cursor: pointer;
    background-color: rgba(181, 1, 1, 0.8);
}


.basket-your-shopping-list, .chosen-recipes{
    font-size: 5rem;
    text-align: center;
    margin-top: 4rem;
}

.basket-recipes {
    animation: reveal 0.4s ease-in-out;
}


@keyframes reveal {
    0% {opacity: 0; transform: translateY(-2%)}
    100%  {opacity: 1; transform: translateY(0)}
}

.basket-recipes summary {
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    cursor: pointer;
}

.basket-your-limit{
    font-size: 26px;
    margin-top: 30px;
    text-align: center;
}

.basket-your-limit input {
    width: 5ch;
    max-width: 10ch;
}

.basket-your-limit-form-input{
    width: 50px;
    font-size: 23px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-left: 10px;
    margin-right: 10px;
}

.basket-your-limit-form-button{
    border-radius: 5px;
    font-size: 20px;
    padding: 2px 2px;
}


.basket-download-button {
    background-color: rgba(30, 144, 255, 0.5);
    border-radius: 100%;
    cursor: pointer;
    font-size: 2rem;
    width: 5rem;
}

.basket-download-button:hover {
    background-color: rgba(30, 144, 255, 0.9);
}

/*.basket-download-hint {*/
/*    font-size: large;*/
/*    visibility: hidden;*/
/*    width: 90%;*/
/*    left: 50%;*/
/*    margin-left: -45%;*/
/*    background-color: rgb(1, 1, 41);*/
/*    color: #e1e1e1;*/
/*    text-align: center;*/
/*    border-radius: 6px;*/
/*    padding: 5px 5px;*/
/*    transform: translateY(-50%);*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*}*/

/*.basket-download-button:hover .basket-download-hint {*/
/*    visibility: visible;*/
/*}*/

/*.basket-download-text {*/
/*    font-size: 1.2rem;*/
/*    text-align: left;*/
/*    margin: auto;*/
/*}*/

.basket-price{
    /*background-color: #5e1515;*/
    font-size: 4rem;
    text-align: right;
    margin: auto;
    width: 100%;
}