.RecipeListPage-header{
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.RecipeListPage-header h3{
  font-size: 3.5rem;
  text-align: center;
}

header{
  margin-top: 2rem;
}

.RecipeListPage-options{
  background-color:rgba(4, 4, 128, 0.123);
  width: 20%;
  border-radius: 10px;
  padding-top: 3rem;
}


.RecipeListPage-options-body{
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  justify-content: center;
  align-items:center;
}

.RecipeListPage-options-servingCount,
.RecipeListPage-options-maxSum{
  width: 80%;
  margin: 3rem 0;

}

.RecipeListPage-options-servingCount input,
.RecipeListPage-options-maxSum input{
  margin-top: 1rem;
  font-size: 2.5rem;
}


.RecipeListPage-options-servingCount-input input,
.RecipeListPage-options-maxSum-input input{
  margin-right: 1rem;
}


.RecipeListPage-filters{
  background-color:rgba(1, 1, 41, 0.9);
  color:white;
  padding: 3rem;
  font-size: 3rem;
  width: 78%;
  border-radius: 10px;
}

.RecipeListPage-underHeader-searchButton{
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.search-recipe {
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
}

.search-input{
  width: 50%;
  padding-left: 1.5rem;
  border: 0.1rem solid rgb(1, 1, 41);
}

.search-input :active {
  border: 0.3rem solid rgb(10, 10, 197);
}

.RecipeListPage-underHeader-searchButton input {
  width: 95%;
}

.RecipeListPage-filters-allergens{
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 5rem 1.5rem;
}

.RecipeListPage-filters-allergens-chosenAllergens{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.RecipeListPage-filters-allergen{
  display: flex;
  margin-bottom: 3rem;
  margin-right: 1rem;
  margin-left: 1.5rem;
  background-color: white;
  color: black;
  justify-content: space-between;
}

.RecipeListPage-filters-allergen button{
  margin-left: 1rem;
  color: black;
  background-color: rgb(40, 167, 69);
}

.RecipeListPage-filters-allergen button:hover{
  background-color: rgb(18, 84, 33);
}


.RecipeListPage-filters input{
  font-size: 3rem;

}

.RecipeListPage-filters-allergens-input input{
  margin-left: 10px;
}

.RecipeListPage-ResetFilter{
  display: flex;
  justify-content: center;
}

.RecipeListPage-Reipe-records{
  margin-top: 1rem;
  flex: 1 1 10rem;
  font-size: 1.7rem;
}

.RecipeListPage-options-input {
  width: calc(100% - 3.5ch);
}